<app-header></app-header>
<div class="container">
  <br>
  <h3>Portfolio</h3>
  <hr>
  <div>
    <div class="stocks-div">
      <div *ngFor="let stock of stocks">
          <div class="stock-div" (click)="stockClicked(stock.symbol)">
              <span class="symbol">{{ stock.symbol }}</span>
              <span class="company-name">({{ stock.name }})</span>
          </div>
      </div>
  </div>
  <div class="ticker-info-div">
      <app-ticker-info [ticker]="selectedStock" *ngIf="selectedStock !== ''"></app-ticker-info>
  </div>
  </div>
</div>
